{% extends 'html/base.html' %}
{% load static %}
{% block title %} STORE {% endblock %}
{% block content %}
<br>
  <div class="vl" style="border-left: 3px solid black; height: auto; position:absolute;left: 10px;">
    <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 8px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/sam.png' %}">SAMSUNG MOBILES</b></h2></tr>
    <tr>
      <td>
      <div class="card-body">
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/samsa50s.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
      </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Samsung Galaxy A50s (Prism Crush Black, 4GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹17,700</i></b>
        <br></h3>
      </td>
      <td>
      <div class="card-body" style="margin-top: 8px;">
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/samsm31.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
      </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹16,499</i></b>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/samsm51.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Samsung Galaxy M51 (Ocean Blue, 6GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹22,999</i></b>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 8px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/vivo.png' %}" height="50" width="50">VIVO MOBILES</b></h2></tr>
    <tr>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivov19.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Vivo V19 (Mystic Silver, 8GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹24,999 </i></b>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivoy91i.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹8,490</i></b>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/vivov20se.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px">Vivo V20 SE (Gravity Black, 8GB RAM, 128GB ROM)<b></b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹20,990</i></b>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
  <table class="table-hover" style="margin-top: 8px">
    <tr><h2 style="margin-left: 40%"><b><img src="{% static 'images/oppo.png' %}" height="100" width="80">OPPO MOBILES</b></h2></tr>
    <tr>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/oppof17pro.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>OPPO F17 Pro (Matte Gold, 8GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹21,490</i></b>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/oppoa12.jpeg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>OPPO A12 (Blue, 4GB RAM, 64GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>11,490</i></b>
        <br></h3>
      </td>
      <td>
        <div class="container mt-5" style="width: 12rem" style="margin-right: 10px">
          <div class="card" style="width: 10rem;font-family: italic">
            <div class="card-body">
              <a href="">
                <img src="{% static 'images/oppoa31.jpg' %}"></img>
              </a>
            </div>
          </div>
        </div>
        <a href=""><h4 style="margin-left: 85px; margin-top: 30px"><b>Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage)</b></h4>
        </a>
        <br>
        <h3 style="margin-left: 85px;">
          <b><i>₹12,797</i></b>
        <br></h3>
      </td>
    </tr>
  </table>
  <hr style="margin-left: 30px">
<footer style="background: black;">
  <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12 p-3">
          <a href="">DjPrjct | All rights reserved | Copyright ©
            2020</a>
        </div>
      </div>
    </div>
</footer>
{% endblock %}